@font-face {
  font-family: General Sans;
  src: url(./font/GeneralSans-Variable.ttf);
}


.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto;
}

.form-container {
  box-sizing: border-box;
  width: 528px;
  height: 654px;
  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  box-shadow: 24px 36px 64px -14px rgba(77, 77, 77, 0.15);
  border-radius: 20px;
  padding: 50px 0px;

}

.icon {
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 0px 22em -20px 0px;
}

.icon svg {
  font-size: 18px;
  align-items: center;
  align-content: center;
  
}

.icon > label {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #808080;
  align-content: center;
  align-items: center;

}

.image-details {

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;


}

.image-details>img {
  border-radius: 50%;

}



.avatar-content>h5 {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #808080;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px 2px 0px;
}

.avatar-content>h2 {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0px 5px 0px;
}

.form-content {
  margin: 60px 0px 0px 0px;
}

.form-content>label {
  
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  margin: 0em 25em 0em 0em;
  
  
  

}

form>input {
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  background: #FFFFFF;
  border: 1.5px solid #6877CA;
  border-radius: 999px;
  margin: 0.25em 0em;
  padding: 0px 0px 0px 30px;
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
  
}

form > i {

    position: absolute;
    font-size: 30px;
    margin: 15px 0px 0px -40px;
  
  
}

form > i:hover {
  color: #00fcb6;
  cursor: pointer;
}

form>h6 {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin: 10px;

}

form>h6>span {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #6877CA;
  cursor: pointer;
  

}

.form-submit {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 40px 0px;

}

.form-submit>input {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  
}

.form-submit label {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
}




.form-submit>button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 180px;
  height: 60px;
  background: #4255BD;
  border: 1px solid #6877CA;
  border-radius: 999px;
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;

}

.footer hr {
  
  border: 1px solid #E6E6E6;
}


.footer>h6 {
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #999999;

}