@font-face {
  font-family: General Sans;
  src: url(./font/GeneralSans-Variable.ttf);
}

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  
}

body {
  background: linear-gradient(to left , #73DBFC ,#F7F7F7 );
  font-family: 'General Sans';
}


